<section class="hero">
  <h2><b>Welcome to Bangla Aahar!</b></h2>
  <p><b>The easiest Bangla Aahar recipes for all.</b></p>
  <form method="POST" role="search" action="/search" class="search-box">
    <input
      id="searchInput"
      name="searchTerm"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button type="submit">Search</button>
  </form>
</section>
<section class="slider_container">
  <div class="container-fluid mt-5 mb-3 ml-2">
    <div class="swiper card_slider">
      <div class="swiper-wrapper">
        <% categories.forEach(category => { %>
        <div class="swiper-slide card-category">
          <div class="card-deck" style="width: 83%">
            <a href="/category/<%= category.name%>">
              <img
                src="<%= category.imageUrl %>"
                class="card-img border rounded-circle"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h2 class="card-title text-center">
                <%= category.name.charAt(0).toUpperCase() +
                category.name.slice(1).toLowerCase() %>
              </h2>
              <a href="/category/<%= category.name%>" class="btn btn-light"
                >Get Bengali <%= category.name.charAt(0).toUpperCase() +
                category.name.slice(1).toLowerCase() %> Ideas here</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- <section class="recipes">
  <h1><b>Featured Recipes</b></h1>
  <div class="swiper-container swiper text-center">
    <div class="slide-container">
      <div class="swiper-wrapper card-wrapper">
        <div class="recipie-section">
          <% recipes.forEach(recipe => { %>
          <div class="swiper-slide card">
            <div class="recipie-card">
              <a href="/recipe/<%= recipe._id %>">
                <img src="<%= recipe.imageUrl %>"
              /></a>
              <h2><%= recipe.title %></h2>
              <p></p>
              <a href="/recipe/<%= recipe._id %>">View Recipe</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="recipes">
  <h1><b>Featured Recipes</b></h1>
  <div class="swiper-container swiper text-center">
    <div class="slide-container container-fluid m-3">
      <div class="swiper-wrapper card-wrapper">
        <div class="recipie-section">
          <% recipes.forEach(recipe => { %>
          <div class="recipie-card">
            <img src="<%= recipe.imageUrl %>" />
            <h2><b><%= recipe.title %></b></h2>

            <a href="/recipe/<%= recipe._id %>">View Recipe</a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>
<nav aria-label="Page navigation ">
  <ul class="pagination">
    <% if (prevPage !== null) { %>
    <li class="page-item">
      <a class="page-link" href="/?page=<%= prevPage %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% } %> <% for( let page =1 ; page <= countPage ; page++ ) { %>
    <li class="page-item">
      <a class="page-link" href="/?page=<%= page %>"><%= page %></a>
    </li>
    <% } %> <% if (nextPage !== null) { %>
    <li class="page-item">
      <a class="page-link" href="/?page=<%= nextPage %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <% } %>
  </ul>
</nav>
